<div class="container mx-auto my-5">
    <h3>Login</h3>
    <div class='error'>
      <% if flash[:my_errors] %>
        <% flash[:my_errors].each do |error| %>
          <p><%= error %></p>
        <% end %>
      <% end %>
    </div>
    <%= form_tag('/login', :method => "post") do %>
      <div class="form-group"> 
        <label>Username</label>
        <%= text_field_tag "username", nil, class: "form-control"  %>
      </div>
      <div class="form-group">
        <label>Password</label>
        <%= text_field_tag "password", nil, class: "form-control"  %>
      </div>
      <%= submit_tag "Login", :class => "btn btn-primary" %>
    <%end%>
  </div>