<h1>Create Profile</h1>

<div class='error'>
  <% if flash[:my_errors] %>
    <% flash[:my_errors].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>
</div>

<%= form_for @user do |f|%>
<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :password %>
<%= f.text_field :password %>
<%= f.label :email %>
<%= f.text_field :email %>
<%= f.submit %>
<%end%>

<h2>Or Login</h2>

<%= form_for @user, url: {action: "login"} do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :password %>
<%= f.text_field :password %>
<%= f.submit "Login"%>
<%end%>