<div class="container mx-auto my-5">
  <div class="container my-3">
    <h3>Create Profile</h3>
    <div class='error'>
      <% if flash[:my_errors] %>
        <% flash[:my_errors].each do |error| %>
          <p><%= error %></p>
        <% end %>
      <% end %>
    </div>
    <%= form_for @user do |f|%>
      <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.text_field :password, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, :class => "form-control" %>
      </div>
      <%= f.submit 'Create Account', :class => "btn btn-primary" %>
    <%end%>
  </div>
  <hr>
  <div class="container my-3">
    <h3>Click Below To Login</h3>
    <%= link_to "Login", new_session_path, :class => "btn btn-primary" %>
  </div>
</div>