<h1>New Order</h1>
<h2>Items in Cart:</h2>
<ul>
    <% cart.each do |i| %>
        <li><%= Item.find(i).name %>: $<%= Item.find(i).price %></li>
    <% end %>
    <li>Total: <%=  %></li>
</ul>
<%= form_for @order do |f| %>
    <%= f.hidden_field :total, value: 250%>
    <% if !session[:user_id] %>
        <h2>Enter Email:</h2>
        <%= f.fields_for :user do |user| %>
            <%= user.label :email %>
            <%= user.text_field :email %>
            <p>Enter username and password if you would like to create a user account:</p>
            <%= user.label :username %>
            <%= user.text_field :username %>
            <%= user.label :password %>
            <%= user.text_field :password %>
        <% end %>
    <% else %>
        <h2>Email Address:</h2>
        <ul>
            <li><%= @user.email %></li>
        </ul>
    <% end %>
<h2>Enter Shipping Info:</h2>
    <%= f.fields_for :shipping_info do |ship| %>
        <li><%= ship.label :address_one%></li>
        <li><%= ship.text_field :address_one%></li>
        <li><%= ship.label :address_two%></li>
        <li><%= ship.text_field :address_two%></li>
        <li><%= ship.label :city%></li>
        <li><%= ship.text_field :city%></li>
        <li><%= ship.label :state%></li>
        <li><%= ship.text_field :state%></li>
        <li><%= ship.label :country%></li>
        <li><%= ship.text_field :country%></li>
        <li><%= ship.label :zip_code%></li>
        <li><%= ship.text_field :zip_code%></li>
    <%end%>
<h2>Enter Billing Info:</h2>    
    <%= f.fields_for :billing_info do |bill| %>
        <li><%= bill.label :address_one%></li>
        <li><%= bill.text_field :address_one%></li>
        <li><%= bill.label :address_two%></li>
        <li><%= bill.text_field :address_two%></li>
        <li><%= bill.label :city%></li>
        <li><%= bill.text_field :city%></li>
        <li><%= bill.label :state%></li>
        <li><%= bill.text_field :state%></li>
        <li><%= bill.label :country%></li>
        <li><%= bill.text_field :country%></li>
        <li><%= bill.label :zip_code%></li>
        <li><%= bill.text_field :zip_code%></li>
    <%end%> 
<h2>Enter Payment Info:</h2>     
    <%= f.fields_for :payment_info do |pay| %>
        <li><%= pay.label :name_on_card%></li>
        <li><%= pay.text_field :name_on_card%></li>
        <li><%= pay.label :card_number%></li>
        <li><%= pay.number_field :card_number%></li>
        <li><%= pay.label :expiration%></li>
        <li><%= pay.datetime_field :expiration%></li>
        <li><%= pay.label :cvc%></li>
        <li><%= pay.number_field :cvc%></li>
        <li><%= pay.label :zip_code%></li>
        <li><%= pay.text_field :zip_code%></li>
    <%end%>
   <h3><%= f.submit%></h3>      
<%end%>


