<h1> Order Confirmation: <%=@order.id%></h1>

<p>Confirmation will be sent to: <strong><%=@order.user.email%></strong></p>

<h2>Payment Information</h2>
<p><%=@order.payment_info.name_on_card%></p>
<%cc = @order.payment_info.card_number.to_s%>
<p>xxxxxxxxxxxx<%= last_four = cc[cc.length - 4, 4]%></p>
<p> Exp: <%=@order.payment_info.expiration%></p>


<h2>Order Summary:</h2>
<%@order.order_items.each do |oi|%>
    <%=oi.item.name%>, Quantity: <%= oi.quantity %>, $<%=oi.item.price * oi.quantity%>
<%end%>
<p><strong>Order Total:</strong> $<%= @order.order_items.sum {|oi| oi.item.price * oi.quantity} %></p>



<h2>Shipping To: </h2>
<p><%=@order.shipping_info.address_one%></p>
<p><%=@order.shipping_info.address_two%></p>
<p><%=@order.shipping_info.state%>, <%=@order.shipping_info.country%>, <%=@order.shipping_info.zip_code%></p>