<h1><%= @item.name %></h1>
<img class="item_image" src="https://loremflickr.com/640/480/dogtoy" alt="A dog toy">
<p><strong>Category:</strong> <%= @item.category %></p>
<p><strong>Price:</strong> <%= @item.price %></p>
<%= form_for @order_item, :url => { :controller => :items, :action => :add_to_cart } do |f| %>
    <strong><%= f.label "Quantity: " %></strong>
    <%= f.number_field :quantity %>
    <%= f.submit "Add To Cart" %>
<% end %>