<!DOCTYPE html>
<html>
  <head>
    <title>DogStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= image_tag("nav_logo.jpg") %>
      <a href="/">Home</a>
      <a href="/items">Items</a>
      <% if session[:user_id] %>
        <a href="/users/update">Logout</a>
      <% else %>
        <a href="/users/new">Login</a>
      <% end %>
      <a href="/orders/new">Checkout</a>
    </nav>
    <%= yield %>
  </body>
</html>